@import url('https://fonts.googleapis.com/family=Karla:wght@700&display=swap');
.messageArea {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.todo-list {
    margin: 0 auto;
    width: calc(86% - 40px);
    padding: 0 20px;
    min-height: 70px;
    background-color: #d8d4d4;
    border: 1px solid #20232a;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.list_holder {
    width: 100%;
    background: transparent;
}

@media (max-width:800px) {
    .todo-list {
        width: calc(91% - 40px);
    }
}

.list {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 0;
    word-break: break-all;
    font: 1.25rem 'Karla', sans-serif;
}

.edit-btn {
    background-color: inherit;
    color: #178131;
    border: none;
    cursor: pointer;
}

.delete-btn {
    background-color: inherit;
    color: #c03d29;
    border: none;
    cursor: pointer;
}

.todo-list button:hover {
    color: #20232a;
}

.eod {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.eod button {
    font-size: 1rem;
    transition: .3s linear;
    width: 1rem;
}

.date_holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font: 700 1rem 'Karla', sans-serif;
}