body {
    background: linear-gradient(90deg, #457add 0%, #2e5090 50%, #032f50 100%);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #2e5090;
    /* display: flex;
    justify-content: center; */
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
    justify-content: center;
    width: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}