body {
    background: radial-gradient(at top left, rgba(146, 43, 225, 1) 0%, rgba(43, 9, 107, 1) 100%);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    /* background: #2e5090; */
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
    justify-content: center;
    width: 100%;
}