@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #00040f;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-gradient;
  width: 5px;
  border-radius: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: "Poppins", sans-serif;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #5c6ee6 51.94%,
    #3355cf 90.29%
  );
}
.bg-black-gradient {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

@layer components {
  .message__area {
    @apply flex flex-col items-center gap-[15px] p-0 w-[90%] mx-auto md:w-[50%] min-h-full;
  }
  .todo__list {
    @apply m-0 w-full px-[20px] py-[10px] min-h-[70px] bg-black-gradient border border-[#20232a] flex justify-center items-start flex-col gap-[20px] text-white;
  }
  .list__holder {
    @apply w-full bg-transparent;
  }
  .list {
    @apply bg-transparent border-0 outline-none w-full h-full flex p-0 text-left justify-start mb-0 break-words text-base md:text-[18px] font-karla;
  }
  .edit__btn {
    @apply bg-inherit text-[#178131] border-none cursor-pointer hover:text-[#20232a];
  }
  .delete__btn {
    @apply bg-inherit text-[#c03d29] hover:text-[#20232a] border-none cursor-pointer;
  }
  .eod {
    @apply flex justify-between items-center;
  }
  .eod__btn {
    @apply text-[0.75rem] w-[1.5rem];
  }
  .date__holder {
    @apply w-full flex justify-between font-bold text-xs md:text-sm font-karla;
  }
}
